.post__like {

	span.fa {
		transition: transform .225s ease;

		&:hover {
			transform: scale(1.2);
		}
	}
}

.custom-icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 4px;
	transition: transform .225s ease;

	&:hover {
		transform: scale(1.2);
	}

	svg {
		pointer-events: none;
	}

	&--broken-heart-active {

		svg {
			fill: red;
		}
	}
}