html,
body {
	height: 100%;
}

.main-wrapper {
	position relative;
	min-height: 100%;

	> .preloader-wrapper {
		position: absolute;
		left: 50%;
		margin: 100px 0 0 -100px;

		&.big {
			width: 200px;
			height: 200px;

			.circle-clipper .circle {
				border-width: 6px;
			}
		}
	}
}

.custom-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	transition: color .225s ease;
}

svg[class*="custom-icon-"] {
	color: #333333;
}

.post__action-wrapper {
	position: relative;

	&:hover {

		.action-button-group {
			opacity: 1;
			transform: translateY(0);
			pointer-events: auto;
		}
	}
}

.post__like {

	span.fa {
		transition: transform .225s ease;

		&:hover {
			transform: scale(1.2);
		}
	}
}

.post__dislike {

	svg {
		width: 18px;
		height: 18px;
		margin-right: 4px;
		pointer-events: none;
		transition: transform .225s ease;
	}

	&:hover svg {
		transform: scale(1.2);
	}

}

.custom-icon.custom-icon-broken-heart-active {
	color: red;
}

.action-button-group {
	display: flex;
	position: absolute;
	min-width: 150px;
	top: -55px;
	opacity: 0;
	padding: 10px 0;
	background: #bfbfbf;
	border-radius: 2px;
	transform: translateY(10px);
	pointer-events: none;
	transition: opacity .225s ease,
				transform .225s ease;

	&__item {
		background: none;
		border: 1px solid transparent;
		line-height: 1;
		padding: 2px;
		margin: 0 10px;
		outline: none;
		border-radius: 2px;
		transition: border-color .255s ease;

		.custom-icon {
			width: 30px;
			height: 30px;
		}

		&:hover {
			border-color: gray;
		}
	}
}