html,
body {
	height: 100%;
}

img:not([src]) {
	visibility: hidden;
}

img[data-src],
img[data-srcset] {
	display: block;
	min-height: 1px;
}

.main-wrapper {
	position relative;
	min-height: 100%;

	> .preloader-wrapper {
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -60px 0 0 -60px;

		&.big {
			width: 120px;
			height: 120px;

			.circle-clipper .circle {
				border-width: 6px;
			}
		}
	}
}


.post {

	&__content {
		position: relative;
	}

	&__content-image-wrapper {
		width: 100%;
		min-height: 300px;
		//height: 0;
		//padding-bottom: 66.67%; /* You define this doing height / width * 100% */
	}

	&__content-image-item {
		//width: 100%;
		//position: absolute;
		transition: opacity .225s ease;
	}

	.loading {
		opacity: 0;
	}

	.loaded {
		opacity: 1;
	}

	.preloader-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -35px 0 0 -32px;
		transition: opacity .225s ease;
	}

	.loaded + .preloader-wrapper {
		opacity: 0;
	}
}

.custom-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	transition: color .225s ease;
}

svg[class*="custom-icon-"] {
	color: #333333;
}

.post__action-wrapper {
	position: relative;

	&:hover {

		.action-button-group {
			opacity: 1;
			transform: translateY(0);
			pointer-events: auto;
		}
	}
}

.post__dislike,
.post__like {

	svg {
		width: 18px;
		height: 18px;
		margin-right: 4px;
		pointer-events: none;
		transition: transform .225s ease;
	}

	&:hover svg {
		transform: scale(1.2);
	}

}

.post__like {

	svg {
		color: white;
		fill: #000000;
	}
}

.custom-icon.custom-icon-broken-heart-active,
.custom-icon.custom-icon-heart-active {
	color: red;
}

.custom-icon.custom-icon-heart-active {
	fill: red;
}

.action-button-group {
	display: flex;
	position: absolute;
	min-width: 150px;
	top: -55px;
	left: -16px;
	opacity: 0;
	padding: 6px;
	background: #ffffff;
	border-radius: 40px;
	border: 1px solid rgba(#000000, 20%);
	transform: translateY(10px);
	pointer-events: none;
	transition: opacity .225s ease,
				transform .225s ease;

	&__item {
		background: none;
		border: 0 none;
		padding: 0;
		line-height: 1;
		outline: none;
		border-radius: 2px;
		transform-origin: bottom;
		transition: transform .255s ease;

		& + .action-button-group__item {
			margin-left: 10px;
		}

		.custom-icon {
			width: 40px;
			height: 40px;
			pointer-events: none;
		}

		&:hover {
			transform: scale(1.3);
		}
	}
}